Repository Gleisser/we-better: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint:staged, prettier --write

feat: enhance security event logging by adding event type mapping and structured response handling for improved API integration
  src/core/config/csp.ts
  src/core/services/securityService.ts
Due: pnpm lint:staged, prettier --write

feat: enhance two-factor authentication setup with error handling, QR code display improvements, and structured data management for better user experience
  src/core/services/securityService.ts
  src/features/auth/components/TwoFactorSetup/QRCodeDisplay.tsx
  src/features/auth/components/TwoFactorSetup/TwoFactorSetup.module.css
  src/features/auth/components/TwoFactorSetup/TwoFactorSetup.tsx
  src/pages/Settings/Settings.tsx
Due: pnpm lint:staged, prettier --write

feat: update two-factor authentication verification process to use structured response handling and improve error management
  src/core/services/securityService.ts
  src/features/auth/components/TwoFactorSetup/TwoFactorSetup.tsx
Due: pnpm lint:staged, prettier --write

feat: refine two-factor authentication verification process with enhanced error handling and structured response management for improved reliability
  src/features/auth/2FA_SETUP_IMPLEMENTATION_PLAN.md
Due: prettier --write

feat: enhance two-factor authentication management by integrating Supabase MFA API for setup, verification, and disabling processes, along with improved error handling and backup code management
  src/core/services/securityService.ts
  src/features/auth/components/DisableTwoFactor.module.css
  src/features/auth/components/DisableTwoFactor.tsx
  src/features/auth/components/TwoFactorSetup/BackupCodes.tsx
  src/features/auth/components/TwoFactorSetup/TwoFactorSetup.tsx
  src/pages/Settings/Settings.tsx
Due: pnpm lint:staged, prettier --write

feat: improve two-factor authentication UI with updated styles, enhanced button functionality, and refined text for better user guidance
  src/features/auth/components/TwoFactorSetup/BackupCodes.tsx
  src/features/auth/components/TwoFactorSetup/CodeVerification.tsx
  src/features/auth/components/TwoFactorSetup/QRCodeDisplay.tsx
  src/features/auth/components/TwoFactorSetup/TwoFactorSetup.module.css
  src/features/auth/components/TwoFactorSetup/TwoFactorSetup.tsx
Due: pnpm lint:staged, prettier --write

feat: integrate backup codes management in settings with modal display for user convenience
  src/features/auth/components/BackupCodesModal/BackupCodesModal.tsx
  src/features/auth/components/BackupCodesModal/index.ts
  src/pages/Settings/Settings.tsx
Due: pnpm lint:staged, prettier --write

update lock file
  .vscode/settings.json
  pnpm-lock.yaml
Due: prettier --write

update lock file
  pnpm-lock.yaml
Due: none

solve cors issue for Strapi
  src/core/config/csp.ts
Due: pnpm lint:staged, prettier --write

fix vision board title for new boards
  src/features/dream-board/api/dreamBoardApi.ts
Due: pnpm lint:staged, prettier --write

handle no categories
  src/features/dream-board/DreamBoardPage.tsx
Due: pnpm lint:staged, prettier --write

test
  src/features/dream-board/DreamBoardPage.tsx
  src/features/dream-board/api/dreamBoardApi.ts
Due: pnpm lint:staged, prettier --write

fix dream board creation
  src/features/dream-board/components/DreamBoardModal/DreamBoardModal.tsx
Due: pnpm lint:staged, prettier --write

fix: add missing routes configuration in vercel.json for proper routing
  vercel.json
Due: prettier --write

feat: add i18next and related packages for internationalization support
  pnpm-lock.yaml
Due: none

fix: update vercel.json to replace routes with rewrites for proper routing configuration
  vercel.json
Due: prettier --write

Fix life wheel widget display name
  src/shared/components/widgets/LifeWheelWidget/LifeWheelWidget.tsx
Due: pnpm lint:staged, prettier --write

fix: improve modal scrolling behavior and add custom scrollbar styles
  src/features/dream-board/components/Board/DreamBoardContainer/DreamBoardContainer.tsx
  src/features/dream-board/components/DreamBoardModal/DreamBoardModal.module.css
  src/features/dream-board/components/DreamBoardModal/DreamBoardModal.tsx
Due: pnpm lint:staged, prettier --write

feat: add empty canvas call-to-action with upload button for image addition
  src/features/dream-board/components/Board/DreamBoardContainer/DreamBoardContainer.module.css
  src/features/dream-board/components/Board/DreamBoardContainer/DreamBoardContainer.tsx
Due: pnpm lint:staged, prettier --write

feat: implement tooltip rendering via portal for improved positioning and visibility
  src/shared/components/layout/LifeWheel/LifeWheel.tsx
Due: pnpm lint:staged, prettier --write

small tidy up
  I18N_IMPLEMENTATION_PLAN.md
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: enhance StoriesBar component with fullscreen support and category selection functionality
  src/shared/components/layout/StoriesBar/StoriesBar.module.css
  src/shared/components/layout/StoriesBar/StoriesBar.tsx
Due: pnpm lint:staged, prettier --write

feat: implement the weekly mission panel
  src/shared/components/layout/StoriesBar/StoriesBar.module.css
  src/shared/components/layout/StoriesBar/StoriesBar.tsx
  src/shared/components/layout/StoriesBar/WeeklyMissions.module.css
  src/shared/components/layout/StoriesBar/WeeklyMissions.tsx
Due: pnpm lint:staged, prettier --write

Add a new fun button for missions
  src/shared/components/common/GamifiedCTAButton/GamifiedCTAButton.module.css
  src/shared/components/common/GamifiedCTAButton/GamifiedCTAButton.tsx
  src/shared/components/common/GamifiedCTAButton/index.ts
  src/shared/components/common/index.ts
  src/shared/components/layout/StoriesBar/WeeklyMissions.module.css
  src/shared/components/layout/StoriesBar/WeeklyMissions.tsx
Due: pnpm lint:staged, prettier --write

feat: implement fun button to start missions
  src/shared/components/common/GamifiedCTAButton/GamifiedCTAButton.module.css
  src/shared/components/common/GamifiedCTAButton/GamifiedCTAButton.tsx
  src/shared/components/layout/StoriesBar/WeeklyMissions.tsx
Due: pnpm lint:staged, prettier --write

feat: enhance GamifiedCTAButton with hold-to-complete functionality and update WeeklyMissions integration
  src/shared/components/layout/StoriesBar/WeeklyMissions.module.css
  src/shared/components/layout/StoriesBar/WeeklyMissions.tsx
Due: pnpm lint:staged, prettier --write

feat: refactor mission badges with new styles and metadata for improved UI
  src/shared/components/layout/StoriesBar/WeeklyMissions.module.css
  src/shared/components/layout/StoriesBar/WeeklyMissions.tsx
Due: pnpm lint:staged, prettier --write

feat: enhance theme toggle button with new styles and improved accessibility
  src/shared/components/layout/Header/HeaderActions.module.css
  src/shared/components/layout/Header/HeaderActions.tsx
Due: pnpm lint:staged, prettier --write

feat: add bell ring animation to notification icon on hover
  src/shared/components/layout/Header/HeaderActions.module.css
Due: prettier --write

test
  StoriesBar_Gamification_Plan.md
Due: prettier --write

remove md plan file
  StoriesBar_Gamification_Plan.md
Due: prettier --write

Initial commit to update quotes ui
  src/shared/components/widgets/QuoteWidget/QuoteWidget.module.css
  src/shared/components/widgets/QuoteWidget/QuoteWidget.tsx
Due: pnpm lint:staged, prettier --write

refactor: remove theme hashtags and update tag display in QuoteWidget
  src/shared/components/widgets/QuoteWidget/QuoteWidget.module.css
  src/shared/components/widgets/QuoteWidget/QuoteWidget.tsx
Due: pnpm lint:staged, prettier --write

feat: add QuoteMoreOptionsMenu component and integrate with QuoteWidget
  src/shared/components/widgets/QuoteWidget/QuoteMoreOptionsMenu.tsx
  src/shared/components/widgets/QuoteWidget/QuoteWidget.module.css
  src/shared/components/widgets/QuoteWidget/QuoteWidget.tsx
Due: pnpm lint:staged, prettier --write

feat: add CutoutWidget component and integrate into DashboardGrid layout
  src/shared/components/layout/DashboardGrid/DashboardGrid.module.css
  src/shared/components/layout/DashboardGrid/DashboardGrid.tsx
  src/shared/components/widgets/CutoutWidget/CutoutWidget.module.css
  src/shared/components/widgets/CutoutWidget/CutoutWidget.tsx
Due: pnpm lint:staged, prettier --write

feat: add CardsWidget component and integrate into DashboardGrid layout style: update DashboardGrid CSS for CardsWidget integration refactor: enhance translation hook with useCallback for performance
  src/shared/components/layout/DashboardGrid/DashboardGrid.module.css
  src/shared/components/layout/DashboardGrid/DashboardGrid.tsx
  src/shared/components/widgets/CardsWidget/CardsWidget.module.css
  src/shared/components/widgets/CardsWidget/CardsWidget.tsx
  src/shared/hooks/useTranslation.ts
Due: pnpm lint:staged, prettier --write

feat(types): add TypeScript declaration for JSON modules
  src/shared/components/widgets/CardsWidget/CardsWidget.module.css
  src/shared/components/widgets/CardsWidget/CardsWidget.tsx
  src/shared/components/widgets/CardsWidget/icons/favorite.json
  src/shared/components/widgets/CardsWidget/icons/record.json
  src/shared/components/widgets/CardsWidget/icons/reminder.json
  src/shared/components/widgets/CardsWidget/icons/sparkles.json
  src/shared/components/widgets/CardsWidget/icons/streak.json
  src/types/json.d.ts
Due: pnpm lint:staged, prettier --write

feat(i18n): add translations for CardsWidget and update QuoteWidget styles and functionality
  src/core/i18n/index.ts
  src/shared/components/widgets/CardsWidget/CardsWidget.module.css
  src/shared/components/widgets/CardsWidget/CardsWidget.tsx
  src/shared/components/widgets/QuoteWidget/QuoteWidget.module.css
  src/shared/components/widgets/QuoteWidget/QuoteWidget.tsx
Due: pnpm lint:staged, prettier --write

Path conditions:
  pnpm lint:staged: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{css,scss,md,json})
